body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border-width: 0;
}
#wrapper-overflow {
  overflow: hidden;
}

.blue-line {
  height: 1rem;
}

.xxxlarge {
  align-items: center;
  height: 400px;
  overflow: hidden;
  z-index: -1;
}

/* Main Menu */
li {
  list-style-type: none;
}

.main-menu {
  display: flex;
  position: fixed;
  z-index: 10;
  width: 64rem;
  height: 4rem;
  top: 2rem;
  left: 0;
  right: 0;
  bottom: auto;
  border-radius: 1rem;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: hsla(0, 0%, 100%, 0.3);
  /*-webkit-backdrop-filter: blur(5px);*/
  backdrop-filter: blur(5px);
  margin-right: auto;
  margin-left: auto;
}

#custom-buttom {
  border: 4px solid #fee440;
  border-radius: 1rem;
  background-color: #fee5403f;
}

.div-link {
  text-decoration: none;
  color: #1e1e1e;
  padding: 0.5rem 2rem 0.75rem 2rem;
  font-size: 1.1rem;
  font-weight: 300;
}
.div-link:hover {
  color: #1e1e1e;
  font-size: 1.1rem;
  border: 4px solid #f15bb5;
  background-color: #f15bb544;
  border-radius: 1rem;
  box-shadow: inset 1px 1px 10px 1px #5e1f458f;
  transition-delay: 0.2ms;
  transition-timing-function: ease-out;
}

/* Section header */
.section-header {
  height: auto;
}
.section-ux-header {
  height: 100vh;
}
.section-content-ux {
  height: auto;
}
.background-image-header {
  position: absolute;
  z-index: -2;
  top: 0px;
  left: 0px;
}
.flex-vertical-left {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6rem;
  align-items: end;
}
.grid-content-ux {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  column-gap: 1rem;
}
.grid-wrapper-left {
  display: grid;
  grid-column-start: auto;
}
.grid-wrapper-right {
  display: grid;
  justify-content: right;
  grid-column-start: auto;
  align-content: center;
}
.move-left {
  position: relative;
  transform: translateX(-8rem);
}
.move-right {
  position: relative;
  transform: translateX(8rem);
}

.flex-horizontal-space-between {
  display: flex;
  justify-content: space-between;
}
#wrapper-container-float-right {
  float: right;
  width: 75rem;
  transform: translateX(-30rem);
  padding-right: 6rem;
  border-radius: 0 3rem 3rem 0;
}
#paragraph-size-auto {
  float: right;
}

.profile-background-photo {
  width: 40rem;
  height: auto;
}
.relative-object {
  position: relative;
}
.absolut-object {
  position: absolute;
}
.absolut-profile-image-backgroud {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.absolute-ux-background-img {
  position: absolute;
  top: 0px;
  right: 0px;
}
.profile-background-photo {
  position: absolute;
  top: 8rem;
  right: 15rem;
  z-index: -1;
  width: auto;
  height: 40rem;
}

/* Section UX-UI */

.flex-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.flex-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}
.header-secondary {
  font-size: 10rem;
  font-family: Anton;
  text-align: left;
  text-shadow: inset 1px 1px 1px #000000;
  /* Animation */
  animation-name: h2-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
@keyframes h2-animation {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.text-shadow {
  text-shadow: 8px 8px 17px rgb(0 0 0 / 71%);
}
/* Combo Classes */

.max-size-small {
  width: 45rem;
}
.max-size-medium {
  width: 60rem;
}
.max-size-large {
  width: 80rem;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  background: linear-gradient(
    180deg,
    #2e2e2e 0%,
    #2e2e2e 21.29%,
    #1e1e1e 45.77%,
    #484848 71.81%,
    #191919 100%
  );
  color: white;
}

h1 {
  font-family: Anton;
  letter-spacing: 2px;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 700;
}

h2 {
  font-family: Anton;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}

h3 {
  font-family: Anton;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}
h4 {
  font-family: Anton;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}

span {
  font-family: Anton;
}

p {
  margin: 0rem;
}

.wrapper-paragraph {
  margin-top: -10rem;
  width: 35rem;
}
.paragraph-medium {
  font-size: 1rem;
  line-height: 1.9;
}

ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-left: 1.25rem;
}

ol {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-left: 1.25rem;
}

li {
  margin-bottom: 0.25rem;
}

.img-doble-size {
  min-width: 150%;
  transform: translateX(-20rem);
}
.img-doble-size-left {
  min-width: 200%;
  transform: translate(-53rem, -17rem);
}

img {
  display: inline-block;
  max-width: 100%;
}
.img-ux-documentaction {
  width: auto;
}
.img-ux-tool {
  max-width: auto;
  height: 4rem;
}

.text-color-blue {
  color: #00bbf9;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-weight-light {
  font-weight: 300;
}

.max-width-full {
  width: 100%;
  max-width: none;
}
.shadow {
  box-shadow: 5px 3px 20px 3px #471a3557;
}

.show {
  display: block;
}

.global-styles {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: block;
}

.icon-1x1-small {
  width: 2rem;
  height: 2rem;
}

.button-primary {
  padding: 0.75rem 3.25rem;
  background-color: #f15bb5;
  color: white;
  border-radius: 1rem;
  border: 0px;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #f15bb5;
  color: white;
  box-shadow: 8px 8px 0px 1px #00bbf9;
  transition: all 0.2s ease-in-out;
}
a {
  text-decoration: none;
  color: white;
}
html {
  scroll-behavior: smooth;
}
.heading-medium {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}

.heading-large {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}

.text-weight-bold {
  font-weight: 700;
}

.text-size-large {
  font-size: 1.5rem;
}

.icon-medium {
  height: 3rem;
}

.text-size-regular {
  font-size: 1rem;
  line-height: 1.8;
}

.text-weight-normal {
  font-weight: 400;
}

.text-align-center {
  text-align: center;
}

.z-1 {
  position: relative;
  z-index: -1;
}

.z-2 {
  position: relative;
  z-index: -2;
}

.icon-small {
  height: 2rem;
}

.show-mobile-portrait {
  display: none;
}

.text-style-italic {
  font-style: italic;
}

.background-color-pink {
  background-color: #f15bb5;
}
.background-color-blue {
  background-color: #00bbf9;
}
.background-color-yellow {
  background-color: #fee440;
}
.background-color-yellow-gradient {
  background: linear-gradient(
    135deg,
    rgba(254, 228, 64, 1) 0%,
    rgba(210, 182, 0, 1) 100%
  );
}

.background-color-black {
  background-color: #000;
  color: #f5f5f5;
}

.background-color-white {
  background-color: #fff;
}
.background-color-white-blur {
  background-color: rgba(255, 255, 255, 0.199);
  backdrop-filter: blur(10px);
}

.hide {
  display: none;
}

.text-size-medium {
  font-size: 1.25rem;
}

.text-align-left {
  text-align: left;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-style-link {
  text-decoration: underline;
}

.form-wrapper {
  margin-bottom: 0rem;
}

.text-style-muted {
  opacity: 0.6;
}

.text-size-small {
  font-size: 0.875rem;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.icon-large {
  height: 4rem;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.heading-xlarge {
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 700;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.text-size-tiny {
  font-size: 0.75rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-right: auto;
  margin-left: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.text-style-quote {
  margin-bottom: 0rem;
  padding: 0.75rem 1.25rem;
  border-left: 0.25rem solid #e2e2e2;
  font-size: 1.25rem;
  line-height: 1.5;
}

.fs-styleguide_classes {
  display: none;
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}
.align-left {
  margin-right: auto;
  margin-left: 0;
}
.align-right {
  margin-right: 0;
  margin-left: auto;
}

.spacing-clean {
  margin: 0rem;
  padding: 0rem;
}

.page-padding {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.text-align-right {
  text-align: right;
}

.show-tablet {
  display: none;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.text-color-black {
  color: black;
}
.text-color-yellow {
  color: #fee440;
}

.form-radio-icon {
  width: 0.875rem;
  height: 0.875rem;
  margin-top: 0rem;
  margin-right: 0.5rem;
  margin-left: 0rem;
}

.show-mobile-landscape {
  display: none;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.icon-1x1-large {
  width: 4rem;
  height: 4rem;
}

.button-secondary {
  padding: 0.75rem 1.25rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0.125rem solid #386eec;
  background-color: transparent;
  color: #386eec;
  font-weight: 600;
  text-align: center;
}

.button-text {
  padding: 0.75rem 1.25rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  color: #386eec;
  font-weight: 600;
  text-align: center;
}

.margin-tiny {
  margin: 0.125rem;
}

.margin-xxsmall {
  margin: 0.25rem;
}

.margin-xsmall {
  margin: 0.5rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-large {
  margin: 3rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.margin-huge {
  margin: 6rem;
}

.margin-xhuge {
  margin: 8rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0rem;
}

.padding-0 {
  padding: 0rem;
}

.padding-tiny {
  padding: 0.125rem;
}

.padding-xxsmall {
  padding: 0.25rem;
}

.padding-xsmall {
  padding: 0.5rem;
}

.padding-small {
  padding: 1rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-large {
  padding: 3rem;
}

.padding-xlarge {
  padding: 4rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.padding-huge {
  padding: 6rem;
}

.padding-xhuge {
  padding: 8rem;
}

.padding-xxhuge {
  padding: 12rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}
.margin-horizontal {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.padding-horizontal {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.margin-top {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-left {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
}

.margin-right {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-vertical {
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-horizontal {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.padding-top {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-bottom {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-left {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

.padding-right {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-vertical {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-horizontal {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.fs-styleguide_background-spacer {
  height: 5rem;
}

.text-style-nowrap {
  white-space: nowrap;
}

.heading-small {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
}

.heading-xsmall {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 700;
}

.text-weight-medium {
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .hide-tablet {
    display: none;
  }

  .show-tablet {
    display: block;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .padding-xlarge {
    padding: 3rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-left {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
  }

  .margin-right {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-vertical {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-horizontal {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .padding-right {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .fs-styleguide_messege-heading {
    font-size: 3rem;
    line-height: 0.9;
  }

  .fs-styleguide_messege-heading-span {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .heading-medium {
    font-size: 1.5rem;
  }

  .heading-large {
    font-size: 2rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-xlarge {
    font-size: 2.5rem;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .page-padding {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .show-mobile-landscape {
    display: block;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-left {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
  }

  .margin-right {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-vertical {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-horizontal {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .padding-right {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-small {
    font-size: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .show-mobile-portrait {
    display: block;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-left {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
  }

  .margin-right {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-vertical {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-horizontal {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .padding-right {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}
